@jonjoe:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=980fb324320c303c7d5c1f4c623d2ae0c2e22580

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=AF621571-62B9-4592-A5D1-6CB8264BB30D

